@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth
    
    /* -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

:root{
    --grey-bg: #F6F6F6;
    --blue-btn: #4576F4;
    --blue-btn-hover: #3663d6;
}

a{
    text-decoration: none;
}

svg{
    width: 20px;
    height: auto;
}

.main-header{
    font-size: 70px;
}

.desc{
    font-size: 20px;
    font-weight: 400;
}


.landing{
    height: 100vh;
    display: flex;
    align-items: stretch;
}

.landing-content{
    width: 600px;
    box-shadow: 13px -6px 34px rgba(0, 0, 0, 0.1);
    z-index: 20;

    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-content-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.landing-works{
    flex: 1;
    background-color: var(--grey-bg);
    background-image: url(./assets/works.png);
    background-size: cover;
    background-position: center;
}

.landing-content .description{
    margin-top: 20px;
    display: inline;
}

.landing-content .description > span{
    font-weight: 700;
}

.landing-content .buttons{
    margin-top: 60px;
}

.buttons-list{
    margin-top: 20px;
    display: flex;
}

.buttons-list > .btn:first-child{
    margin-right: 10px;
}

.btn{
    font-size: 12px;
    height: 40px;
    border: 1px var(--blue-btn) solid;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;

    cursor: pointer;

    font-weight: 600;
}

.blue-btn{
    background-color: var(--blue-btn);
    color: white;
}

.blue-btn:hover{
   background-color: var(--blue-btn-hover); 
}

.white-btn:hover{
    background-color: #eef3ff;
}

.white-btn{
    border: 1px var(--blue-btn) solid;
    color: var(--blue-btn);
}

.works{
    padding: 0 70px;
}

.works-header, .works-more{
    height: 250px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.works-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-gap: 30px;
}

.works-list-item-top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    display: none;
}

.top-bar-left{
    font-weight: 500;
}

.top-bar-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar-right-item{
    background-color: var(--grey-bg);
    color: black;
    margin-left: 10px;
    font-size: 7px;
    font-weight: 500;
    height: 16px;
    border-radius: 3px;
    padding: 0 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.works-list-item{
    border-radius: 10px;
    background-color: var(--grey-bg);
    overflow: hidden;

    position: relative;
    display: flex;

    margin-bottom: 10px;
    cursor: pointer;

    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);

    overflow: hidden;

    height: 0;
    /* For Aspect Ratio */
    width: 100%;
    padding-top: 63%;
    position: relative;

    /* background-image: url(./assets/works/1.jpg); */
    background-position: center;
    background-size: cover;
}

.works-list > a:link{
    color: black;
}
.works-list > a:active{
    color: black;
}
.works-list > a:visited{
    color: black;
}

.works-list-item-overlay{
    border-radius: 10px;
    position: absolute;
    background: linear-gradient(179.68deg, rgba(0, 0, 0, 0) 44.95%, rgba(0, 0, 0, 0.5208) 97.14%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: flex-end;

    padding: 25px;

    transition: opacity 0.3s ease-out;
    opacity: 0;
}

.overlay-container{
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.works-list-item:hover .works-list-item-overlay{
    /* display: flex; */
    opacity: 1;
}

.overlay-bottom{
    font-weight: 700;
    color: white;
    font-size: 20px;
    
    margin-bottom: -4px;
}

.overlay-top{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: center;
}

.overlay-top-item{
    margin-top: 10px;
    background-color: white;
    color: black;
    margin-right: 10px;
    font-size: 7px;
    font-weight: 500;
    height: 16px;
    border-radius: 3px;
    padding: 0 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.works-list-item img{
    width: 100%;
    height: 20vw;

}


.contact{
    min-height: 100vh;
    padding: 70px 15px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-header{
    /* margin-top: 80px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-sub{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-sub > .mail{
    font-size: 25px;
    font-weight: 300;

    /* no texts are selectable */
    -webkit-user-select: auto; /* Safari */
    -moz-user-select: auto; /* Firefox */
    -ms-user-select: auto; /* IE10+/Edge */
    user-select: auto; /* Standard */
}

.separator{
    width: 2px;
    align-self: stretch;
    margin: 0 20px;
    background-color: #838383;
}

.social-links{
    align-self: stretch;

    display: flex;
    align-items: center;
}

.social-links svg{
    width: 20px;

    margin-bottom: -6px;
    cursor: pointer;
}

.social-links svg:first-child{
    margin-right: 20px;
}



.contact-or{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 10px;
    font-weight: 600;
    padding: 40px 0;
}

.contact-bottom{
    display: flex;
    flex-direction: column;

    width: 450px;

    align-self: center;
}

.contact-form-container{
    height: 55px;
    overflow: hidden;
    transition: height 0.3s ease-out;
    padding: 0 10px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.contact-form .input{
    border-radius: 10px;
    border: 1px #CCDAFF solid;

    overflow: hidden;

    display: flex;
    align-items: stretch;
    padding: 6px;

    min-height: 40px;
    margin-bottom: 20px;

    position: relative;
}

.email-error{

    color: rgb(253, 76, 76);
    font-size: 10px;
    font-weight: 300;

    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.error-show{
    opacity: 1;
}

.contact-form .input > input::placeholder{
    font-size: 15px;
    font-weight: 200;
}

.contact-form .input > textarea::placeholder{
    font-size: 15px;
    font-weight: 200;
}

.contact-form .input > input{
    padding: 0 10px;
}

.contact-form .input > textarea{
    padding: 10px;

    resize: none;
}

button{
    border: none;
    cursor: pointer;
}

.contact-form .input > input, .contact-form .input > textarea{
    flex: 1;
    border-color: rgba(255, 255, 255, 0);
    outline: none;
    background-color: rgba(255, 255, 255, 0);
}

.email-btn{
    background-color: var(--blue-btn);
    display: flex;
    flex-direction: column;
    align-items: stretch;

    align-self: center;
    height: 39px;


    color: white;
    border-radius: 10px;
    font-weight: 500;

    font-size: 12px;

    width: 130px;
    transition: width 0.3s ease-out, opacity 0.2s ease-out;

    overflow: hidden;
    opacity: 1;

}

.email-btn > span{

    flex-shrink: 0;
    height: 39px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: width 0.3s ease-out, margin 0.3s ease-out;
}

.email-btn-sending{
    margin-top: -39px;
}

.email-btn-done{
    margin-top: -78px;
}

.contact-bottom-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    font-weight: 300;
    font-size: 12px;
}

.contact-bottom-footer{
    padding: 0 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;

    justify-content: space-between;
}

.contact-add-message{

    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;


    color: var(--blue-btn);
    font-weight: 600;

    font-size: 12px;

    cursor: pointer;

    height: 15px;
    overflow: hidden;
}

.contact-add-message > span{
    flex-shrink: 0;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: margin 0.1s ease-out;
}

.contact-add-message > span:last-child{
    color: red;
    margin-bottom: -15px;

}

.message-add-state > span:last-child{
    margin-bottom: 0px;
}


.full-height{
    height: 350px;
}

.full-height .email-btn{
    width: 0px;
    padding: 0;
    opacity: 0;
}


.message-btn{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* justify-content: center; */

    background-color: var(--blue-btn);

    height: 55px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    /* margin-top: 10px; */


    overflow: hidden;
}

.message-btn > span{
    height: 55px;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: margin 0.3s ease-out;
}

.message-btn-sending{
    margin-top: -55px;
}

.message-btn-done{
    margin-top: -110px;
}

.done{
    background-color: #32B768;
}

.fail{
    background-color: #FF392E;
}



.shake{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


.mobile{
    display: none;
}

.desktop{
    display: inherit;
}



@media(max-width:1000px){
    .works-list{
        grid-template-columns: 1fr 1fr;
    }
}


@media(max-width:700px){
    .landing{
        flex-direction: column-reverse;
    }

    .landing > .landing-content{
        height: 50vh;
        width: auto;
    }

    .main-header{
    font-size: 10vw;
    }

    .desc{
        font-size: 4vw;
        font-weight: 400;
    }

    .landing-works{
        flex: 1;
        width: 100%;
    }

    .works-list{
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }

    .works{
    padding: 0 30px;
    }

    .contact-bottom{
        width: 100%;
    }   

    .contact-sub > .mail{
        font-size: 5vw;
        font-weight: 300;
    }

    .works-list-item-top-bar{
        display: flex;
    }

    .works-list-item:hover .works-list-item-overlay{
    opacity: 0;
    }

    .mobile{
        display: inherit;
    }

    .desktop{
    display: none;
    }
}