@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

:root{
    --grey-bg: #F6F6F6;
    --blue-btn: #4576F4;
    --blue-btn-hover: #3663d6;
}

.main-header{
    font-size: 70px;
}

.desc{
    font-size: 20px;
    font-weight: 400;
}


.landing{
    height: 100vh;
    display: flex;
    align-items: stretch;
}

.landing-content{
    width: 600px;
    box-shadow: 13px -6px 34px rgba(0, 0, 0, 0.1);
    z-index: 20;

    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-content-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.landing-works{
    flex: 1;
    background-color: var(--grey-bg);
    background-image: url(./assets/workspng.png);
    background-size: cover;
    background-position: center;
}

.landing-content .description{
    margin-top: 20px;
    display: inline;
}

.landing-content .description > span{
    font-weight: 700;
}

.landing-content .buttons{
    margin-top: 60px;
}

.buttons-list{
    margin-top: 20px;
    display: flex;
}

.buttons-list > .btn:first-child{
    margin-right: 10px;
}

.btn{
    font-size: 12px;
    height: 40px;
    border: 1px var(--blue-btn) solid;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;

    cursor: pointer;

    font-weight: 600;
}

.blue-btn{
    background-color: var(--blue-btn);
    color: white;
}

.blue-btn:hover{
   background-color: var(--blue-btn-hover); 
}

.white-btn:hover{
    background-color: #eef3ff;
}

.white-btn{
    border: 1px var(--blue-btn) solid;
    color: var(--blue-btn);
}

.works{
    padding: 0 70px;
}

.works-header, .works-more{
    height: 250px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.works-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-gap: 30px;
}

.works-list-item{
    border-radius: 10px;
    background-color: var(--grey-bg);
    overflow: hidden;

    position: relative;
    display: flex;

    margin-bottom: 10px;
    cursor: pointer;

    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
}

.works-list-item-overlay{
    position: absolute;
    background: linear-gradient(179.68deg, rgba(0, 0, 0, 0) 44.95%, rgba(0, 0, 0, 0.5208) 97.14%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: flex-end;

    padding: 25px;

    transition: opacity 0.3s ease-out;
    opacity: 0;
}

.overlay-container{
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.works-list-item:hover .works-list-item-overlay{
    /* display: flex; */
    opacity: 1;
}

.overlay-bottom{
    font-weight: 700;
    color: white;
    font-size: 20px;
    
    margin-bottom: -4px;
}

.overlay-top{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: center;
}

.overlay-top-item{
    margin-top: 10px;
    background-color: white;
    color: black;
    margin-right: 10px;
    font-size: 7px;
    font-weight: 500;
    height: 16px;
    border-radius: 3px;
    padding: 0 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.works-list-item img{
    width: 100%;
    height: auto;

}

@media(max-width:1000px){
    .works-list{
        grid-template-columns: 1fr 1fr;
    }
}


@media(max-width:700px){
    .landing{
        flex-direction: column-reverse;
    }

    .landing > .landing-content{
        height: 50vh;
        width: auto;
    }

    .landing-content-info{
    }

    .main-header{
    font-size: 10vw;
    }

    .desc{
        font-size: 4vw;
        font-weight: 400;
    }

    .landing-works{
        flex: 1;
        width: 100%;
    }

    .works-list{
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }

    .works{
    padding: 0 30px;
    }

}